.followContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.followCard {
    background-color: rgba(128, 128, 128, .3);
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto 10px auto;
    width: 82%;
    -moz-box-shadow:    inset 0 0 7px #000000;
    -webkit-box-shadow: inset 0 0 7px #000000;
    box-shadow:         inset 0 0 7px #000000;
}

.followerPost {
    background-color: rgba(128, 128, 128, .6);
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto 10px auto;
    width: 80%;
    -webkit-box-shadow: 2px 2px 4px 0px #4f4f4f;
    -moz-box-shadow: 2px 2px 4px 0px #4f4f4f;
    box-shadow: 2px 2px 4px 0px #4f4f4f
}

.notFollowingPrompt {
    margin-top: 80px;
}