.cryptoPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.cryptoCard {
    margin: 5px;
    -webkit-box-shadow: 2px 2px 4px 0px #4f4f4f;
    -moz-box-shadow: 2px 2px 4px 0px #4f4f4f;
    box-shadow: 2px 2px 4px 0px #4f4f4f
}

.cryptoList {
    display: flex;
    margin: 0 auto 10px auto;
    justify-content: space-around;
    width: 90%;
}

.watchlistHeader {
    width: 100%;
}

.watchlistContainer {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, .25);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    justify-content: center;
    -moz-box-shadow:    inset 0 0 7px #4f4f4f;
    -webkit-box-shadow: inset 0 0 7px #4f4f4f;
    box-shadow:         inset 0 0 7px #4f4f4f;
}

.cryptosToWatch {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, .5);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    justify-content: center;
    -moz-box-shadow:    inset 0 0 7px #4f4f4f;
    -webkit-box-shadow: inset 0 0 7px #4f4f4f;
    box-shadow:         inset 0 0 7px #4f4f4f;
}

.favoriteMarketHeader {
    width: 100%;
}

.cryptoCardContainer {
    margin-bottom: 10px;
}

.marketCardContainer {
    margin-bottom: 10px;
}

.marketCard {
    margin: 5px;
    height: fit-content;
    -webkit-box-shadow: 2px 2px 4px 0px #4f4f4f;
    -moz-box-shadow: 2px 2px 4px 0px #4f4f4f;
    box-shadow: 2px 2px 4px 0px #4f4f4f
}

.cryptoMarkets {
    display: flex;
    margin: 0 auto 10px auto;
    justify-content: center;
    width: 90%;
    
}

.marketList {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, .5);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    -moz-box-shadow:    inset 0 0 7px #4f4f4f;
    -webkit-box-shadow: inset 0 0 7px #4f4f4f;
    box-shadow:         inset 0 0 7px #4f4f4f;
}

.favoriteMarketContainer {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, .25);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    justify-content: center;
    -moz-box-shadow:    inset 0 0 7px #4f4f4f;
    -webkit-box-shadow: inset 0 0 7px #4f4f4f;
    box-shadow:         inset 0 0 7px #4f4f4f;
}

.favoriteButton {
    background-color: #003c77 !important;
    border-color: #003c77 !important;
}

.visitButtonToFavorite {
    margin-left: 5px;
}

.visitButtonFavorited {
    margin-top: 5px;
}

.cryptoImage {
    padding: 5px;
}