.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px -15px 0px -50px;
  }
  
  .active {
    background-color: #003c77;
  }
  
  .cryptoNav {
    font-size: xx-large;
    padding-top: 7px;
    text-transform: uppercase;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
  }
  
  .navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    background-color: #0080ff;
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    text-align: center;
    padding: 5px 0px 0px 0px;
    margin: -8px 0px 0px 0px
  }
  
  .navbar__link {
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
  }