.messageBoard {
    display: flex;
    flex-direction: column;
}

.messageContainer {
    width: 75%;
    margin: 20px auto 0px auto;
    padding: 15px 30px;
    background-color: rgba(128, 128, 128, .2);
    border-radius: 15px;
}

.messageEditButton {
    background-color: #003c77 !important;
    border-color: #003c77 !important;
    margin: 5px;
}

.messageDeleteButton {
    margin: 0px;
}

.messagePrompt {
    text-align: right;
    color: #003c77;
}

.messageFollowButton {
    background-color: #003c77 !important;
    border-color: #003c77 !important;
    margin: 5px;
}

.indivMessage {
    background-color: rgba(128, 128, 128, .3);
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto 10px auto;
    width: 90%
}

.messageInputArea {
    background-color: rgba(128, 128, 128, .3);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.messageUsername {
    margin-bottom: 0px;
}

.publicMessageButton {
    background-color: #003c77 !important;
    border-color: #003c77 !important;
}

.primaryModalButton {
    background-color: #003c77 !important;
    border-color: #003c77 !important;
}

.secondaryModalButton {
    background-color: #626262 !important;
    border-color: #626262 !important;
}